
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
.center img { 
    width: 80px;
    height: 80px;
}
html,body {
    margin-left: 60px;
    margin-top: 20px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden; 
}
.header {
    height: 200px;
    padding: 20px 0; 
}
.logo {
        width: 50%;
}
.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}
section.sobre {
    height: calc(100% - 200px);
    position: relative;
}
.extras {
    position: absolute;
    bottom: -50;
    right: -50;
    width: 700px;
    height: 1000px;
    border-radius: 50%;
    background-color: #006439;
}
.socialMedia {
    position: absolute;
    right: 510pc;
    top: 200px;
}
.socialMedia img {
    display: block;
    width: 20px;
    margin: 20px 0;
}
 .texto-sobre {
    margin-top: 100px;
 }
 .texto-sobre h1 {
    font-size: 60px;
 }
 .texto-sobre p {
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
 }
 .texto-sobre button {
    border: 0;
    background-color: #006439;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
 }