

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Montserrat:wght@100;400;600;700;800&family=Raleway:wght@100;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

.header {
    grid-template-columns: 10% auto;
    display: grid;
    flex-direction: row;
    text-align: right;
    align-items: center;
    padding: 1%;
}

.menu {
    margin-right: 5%;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

.central {
    grid-template-columns: 60% auto;
    display: grid;
}

.principal {
    padding: 30px;
    grid-template-columns: auto;
}

.principal h1 {
    font-family: 'Montserrat';
    font-size: 60px;
    padding-top: 70px;
}

.principal #decoration {
    color: #006439;
    font-size: 70px;
    font-weight: bolder;
}

.principal p {
    font-family: 'Montserrat';
    font-size: 22px;
    padding-bottom: 20px;
}

.principal button {
    background-color: #006439;
    color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.socialMedia {
    align-items: center;
    text-align: left;
    padding-top: 180px;
}

.socialMedia img {
    cursor: pointer;
    margin-right: 20px;
}

.socialMedia p {
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    color: brown;
}

.extra {
    background-color: #006439;
    border-radius: 50%;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    margin-top: 20px;
}